@model IEnumerable<_3rdEyE.Models.MapLocation>
@{
    var RolePermissionList = (List<_3rdEyE.ManagingTools.Permission>)Session["RolePermissionList"];
}
<!-- DataTablesExportable -->
<link href="~/Content/ExportableDatatable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ExportableDatatable/buttons.dataTables.min.css" rel="stylesheet" />

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User Group List
        <small></small>
    </h1>
    @if (RolePermissionList.Where(m => m.FullName == "Depo-create").Any())
    {
        <div class="breadcrumb">
            <a class="btn btn-block btn-facebook btn-sm" href="/MapLocation/Create">Create New</a>
        </div>
    }
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Map Location List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="data_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Latitude
                                </th>
                                <th>
                                    Longitude
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PK_MapLoaction)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Latitude)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Longitude)
                                    </td>
                                    <td>
                                        <a href="/MapLocation/Edit?id=@item.PK_MapLoaction" class="btn btn-info btn-xs">Edit</a>
                                        <a href="/MapLocation/Delete?id=@item.PK_MapLoaction" class="btn btn-danger btn-xs">Delete</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@*MODAL DELETE START*@
<div id="modalDelete" class="modal fade modal-" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div id="modalDelete_hiddenKey" style="display:none;"></div>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
            </div>
            <div id="modalDelete_body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="tryDelete()">Yes</button>
                <button type="button" class="btn btn-primary" onclick="$('#modalDelete').modal('hide');">No</button>
            </div>
        </div>
    </div>
</div>
@*MODAL DELETE END*@
<!-- /.content -->
<!-- DataTablesExportable -->
<script src="~/Scripts/Custom/DataTableExportable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/dataTables.buttons.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.flash.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/jszip.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/pdfmake.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/vfs_fonts.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.html5.min.js"></script>
<script src="~/Scripts/Custom/DataTableExportable/buttons.print.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        $('#data_table').DataTable({
            "ordering": true,
            "paging": false,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
    function FilterByInputToRedirectView() {
        var url = "/Depo/Index?";

        var PRG_Type = $("select[name=PRG_Type]").val();
        if (PRG_Type != '') {
            url = url + "PRG_Type=" + PRG_Type;
        } else {
            url = url + "PRG_Type=null";
        }

        var Depo_Category = $("select[name=Depo_Category]").val();
        if (Depo_Category != '') {
            url = url + "&Depo_Category=" + Depo_Category;
        } else {
            url = url + "&Depo_Category=null";
        }
        window.location = url;
    }
    function showModalDelete(model_id, model_name) {
        $('#modalDelete_hiddenKey').html(model_id);
        $('#modalDelete_body').html("Do you want to delete compnay (" + model_name + ")?");
        $("#modalDelete").modal('show');
    }
    function tryDelete() {
        var id = $("#modalDelete_hiddenKey").html();
        window.location.href = "/Depo/Delete?id=" + id;
    }
</script>

