@model IEnumerable<_3rdEyE.ViewModels.VM_Vehicle>

@{
    ViewBag.Title = "Vehicle list";
}


<!-- DataTables -->
<link rel="stylesheet" href="~/Theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h1>
        Access Denyed
        <small></small>
    </h1>*@
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <h2>Access permission is denyed.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" onclick="window.location='/Home/Index'">Back to home</button>
        </div>
    </div>
    <!-- /.row -->
</section>
