
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <div style="width:100px;">
        <div style="width:100px; background-color:aqua;">afa</div>
        <div style="width:100px; background-color:aquamarine; margin-top:20px;">asd</div>
    </div>
</body>
</html>
