@model _3rdEyE.Models.AppModule
@{
    ViewBag.Title = "Create";
}
<!-- DataTables -->
<link rel="stylesheet" href="~/Theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Edit User
        <small></small>
    </h1>
    <div class="breadcrumb">
        <a class="btn btn-block btn-info btn-sm" href="/AppModules/Index">Back To List</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-md-12 connectedSortable ui-sortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom" style="cursor: move;">
                <!-- Tabs within a box -->
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <div id="CurrentlyActiveTab" class="chart tab-pane active" style="position: relative; height: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        <form name="ThisForm" method="post" action="/AppModules/Edit_ManageAppModuleAccessibleAppAction" enctype="multipart/form-data">
                            <input name="PermittedAppActions" id="PermittedAppActions" type="text" style="display:none;" />
                            <input name="FK_AppModule" id="FK_AppModule" type="text" value="@Model.PK_AppModule" style="display:none;" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="form-group col-md-5">
                                                    <div class="row">
                                                        <label class="col-md-4 control-label">Name:</label>
                                                        <div class="col-md-8">
                                                            @Html.DisplayFor(m => m.Name)
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-md-4 control-label">Visible Name:</label>
                                                        <div class="col-md-8">
                                                            @Html.DisplayFor(m => m.VisibleName)
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <input type="button" class="btn btn-facebook pull-right" value="Update Permission" onclick="TryUpdateUserPermission()" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-7">
                                                    <div class="row">
                                                        <table id="data_table" class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                    </th>
                                                                    <th>
                                                                        Visible Name
                                                                    </th>
                                                                    <th>
                                                                        Actual Name
                                                                    </th>
                                                                    <th>
                                                                        Sequence
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="data_tbody"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="box-footer">
                                            @*<input type="button" class="btn btn-facebook" value="Update Permission" onclick="TryUpdateUserPermission()" />*@
                                        </div>
                                        <!-- /.box-footer -->
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- /.row -->
</section>
<!-- /.content -->
<!-- DataTables -->
<script src="~/Theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        GetAccessibleActionList();
    });
</script>
<script>
    var dataTable;
    function GetAccessibleActionList() {
        var FK_AppModule = @Model.PK_AppModule;
        $.ajax({
            traditional: true,
            type: "get",
            dataType: "json",
            contentType: "application/json",
            url: "/AppModules/GetAccessibleActionList?FK_AppModule=@Model.PK_AppModule",
            //data: JSON.stringify({ FK_AppModule: FK_AppModule }),
            success: function (list) {
                $('#data_tbody').html("");
                var result = "";
                for (var i = 0; i < list.length; i++) {
                    result = result + "<tr>";
                    if (list[i].IsAccessible == true) {
                        result = result + "<td>" + "<input type='checkbox' name='parmssionCehckBoxes' value='" + list[i].PK_AppAction + "' checked />" + "</td>";
                    } else {
                        result = result + "<td>" + "<input type='checkbox' name='parmssionCehckBoxes' value='" + list[i].PK_AppAction + "' />" + "</td>";
                    }
                    result = result + "<td>" + list[i].VisibleName + "</td>";
                    result = result + "<td>" + list[i].Name + "</td>";
                    result = result + "<td>" + "<input type='number' name='sequence_" + list[i].PK_AppAction + "' value='" + list[i].Sequence + "' />" + "</td>";

                    result = result + "</tr>";
                }
                $('#data_tbody').html(result);
                dataTable = $('#data_table').DataTable({
                    "lengthChange": false, "bPaginate": false,
                });
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Err on call: GetAccessibleActionList()");
            }
        });
    }


    function TryUpdateUserPermission() {
        dataTable.destroy();
        var checkedVals = $('input[name=parmssionCehckBoxes]:checked').map(function () {
            return this.value;
        }).get();
        $("#PermittedAppActions").val(checkedVals);

        $('form[name=ThisForm]').submit();
    }
</script>
