@model _3rdEyE.Models.Accident
@{
    ViewBag.Title = "Create";
}

@*Select2*@
<link href="~/Theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
@*DateTimePicker*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Accident Expense Entry
        <small></small>
    </h1>
    <div class="breadcrumb">
        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
        <a class="btn btn-block btn-info btn-sm" href="@Request.ServerVariables["HTTP_REFERER"]">Go Back</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <form name="ThisForm" class="form-horizontal" method="post" action="/Accident/ExpenceCreate" enctype="multipart/form-data">
        <input name="PK_Accident" value="@Model.PK_Accident" style="display:none" />
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Accident ID: @Model.TrackingID</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <!-- /.box-header -->
                            <!-- form start -->
                            @*OccuranceDate*@
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Payment Date</label>
                                    <div class="form-group input-group col-md-8">
                                        <div class="col-md-12 input-append date form_datetime" @*data-date="1979-09-16T05:25:07Z"*@ data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                            <input id="OccuranceDate" name="OccuranceDate" class="form-control col-md-12" type="text" placeholder="" value="" readonly="readonly" style="background-color: white;">
                                            <span class="add-on"><i class="icon-remove"></i></span>
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                        <input type="hidden" id="dtp_input1" value="" style="display:none;" /><br />
                                        <b class="errorMessage" data-category="errorMessage" name="error_OccuranceDate"></b>
                                    </div>
                                </div>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check = $('input[name=OccuranceDate]').val();
                                            if (check == "") {
                                                formValidity = false;
                                                $('b[name=error_OccuranceDate]').html("Payment date is required.");
                                            }
                                        });
                                </script>
                            </div>
                            @*PaidAmount*@
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Paid Amount</label>
                                    <div class="col-md-8">
                                        <input name="PaidAmount" id="PaidAmount" type="number" class="form-control">
                                        <b class="errorMessage" data-category="errorMessage" name="error_PaidAmount"></b>
                                    </div>
                                </div>
                                <script>
                                    validatorArray.push(
                                        function () {
                                            var check = $('input[name=PaidAmount]').val();
                                            if (check == "") {
                                                formValidity = false;
                                                $('b[name=error_PaidAmount]').html("Paid Amount is required.");
                                            }
                                        });
                                </script>
                            </div>
                            @*Purpose*@
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Purpose</label>
                                    <div class="col-md-8">
                                        <textarea name="Purpose" Id="Purpose" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            @*InternalTakerStaffID*@
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Internal Receiver Staff ID</label>
                                    <div class="col-md-2">
                                        <input name="InternalTakerStaffID" id="InternalTakerStaffID" class="form-control">
                                        <b class="errorMessage" data-category="errorMessage" name="error_InternalTakerStaffID"></b>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="InternalTakerStaffName" id="InternalTakerStaffName" class="form-control" readonly="readonly" placeholder="Name">
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="button" value="clear" onclick="clearDriverInfo()" />
                                    </div>
                                </div>
                                <script>
                                    var InternalTakerStaffID_element = document.getElementById("InternalTakerStaffID");
                                    InternalTakerStaffID_element.addEventListener("focusout", function (event) {
                                        var InternalTakerStaffID = $("#InternalTakerStaffID").val();
                                        $("#InternalTakerStaffName").val("Loading..");
                                        $.ajax({
                                            traditional: true,
                                            type: "post",
                                            dataType: "json",
                                            contentType: "application/json",
                                            url: "/Base/GetUserInfoFromHRIS_Json",
                                            data: JSON.stringify({ staffID: InternalTakerStaffID }),
                                            success: function (data) {
                                                if (data != null) {
                                                    $("#InternalTakerStaffName").val(data.NAME);
                                                } else {
                                                    $("#InternalTakerStaffName").val("Staff not found/Hris api disconnected");
                                                }
                                            },
                                            error: function (xhr, textStatus, errorThrown) {
                                                console.log("Err on call");
                                            }
                                        });
                                    });
                                    function clearDriverInfo() {
                                        $("#InternalTakerStaffID").val("");
                                        $("#InternalTakerStaffName").val("");
                                    }
                                </script>
                            </div>
                            @*ExternalTakerName*@
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">External Receiver Name</label>
                                    <div class="col-md-8">
                                        <input name="ExternalTakerName" id="ExternalTakerName" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            @*ExternalTakerContactNumber*@
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">External Receiver Number</label>
                                    <div class="col-md-8">
                                        <input name="ExternalTakerContactNumber" id="ExternalTakerContactNumber" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            @*ExternalTakerContactAddress*@
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">External Receiver Address</label>
                                    <div class="col-md-8">
                                        <input name="ExternalTakerContactAddress" id="ExternalTakerContactAddress" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-header with-border">
                                <h3 class="box-title">Document List</h3>
                                <input type="text" name="rowCount" id="rowCount" value="0" style="display:none" />
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="button" class="btn btn-info pull-right" value="Add row" onclick="addRow()" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="data_table" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">
                                                        SL
                                                    </th>
                                                    <th style="width: 15%">
                                                        Document Type
                                                    </th>
                                                    <th style="width: 15%">
                                                        Name
                                                    </th>
                                                    <th style="width: 15%">
                                                        Number
                                                    </th>
                                                    <th style="width: 25%">
                                                        File
                                                    </th>
                                                    <th style="width: 25%">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody"></tbody>
                                        </table>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="button" class="btn btn-info pull-right" value="remove row" onclick="removeRow()" />
                                    </div>
                                </div>
                            </div>
                            <script>
                                function addRow() {
                                    var rowCount = parseInt($("#rowCount").val());

                                    var lastImage = $("#ImageFiles_" + (rowCount - 1)).val();
                                    if (lastImage == '') {
                                        return;
                                    }
                                    var sl = rowCount + 1;
                                    var res = "<tr id='row_" + rowCount + "'>";
                                    res = res + "<td style='width: 5%'>" + sl + "</td>";
                                    res = res + "<td style='width: 15%'><input name='Title_" + rowCount + "' style='width: 100%' /></td>";
                                    res = res + "<td style='width: 15%'><input name='IdentitficaitonKey_" + rowCount + "' style='width: 100%' /></td>";
                                    res = res + "<td style='width: 15%'><input name='IdentitficaitonValue_" + rowCount + "' style='width: 100%' /></td>";
                                    res = res + "<td style='width: 25%'><input id='ImageFiles_" + rowCount + "' name='ImageFiles' type='file' onchange='validateImage(" + rowCount + ")' style='width: 100%' /></td>";
                                    res = res + "<td style='width: 25%'><b class='errorMessage' data-category='errorMessage' name='error_ImageFiles_" + rowCount + "'></b></td>";
                                    res = res + "</tr>";
                                    $("#tbody").append(res);
                                    rowCount++;
                                    $("#rowCount").val(rowCount);
                                }
                                function removeRow() {
                                    var rowCount = parseInt($("#rowCount").val());

                                    var lastRow = $("#row_" + (rowCount - 1));
                                    if (lastRow == undefined) {
                                        return;
                                    }
                                    lastRow.remove();
                                    rowCount--;
                                    $("#rowCount").val(rowCount);
                                }
                                function validateImage(rowNumber) {
                                    var ext = $("#ImageFiles_" + (rowNumber)).val().split('.').pop().toLowerCase();
                                    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                                        alert("Invalid File type.");
                                        $("#ImageFiles_" + (rowNumber)).val('');
                                        return;
                                    }

                                    if ($("#ImageFiles_" + (rowNumber))[0].files[0].size > 300000) {
                                        alert("Image size is too big. Can not select it.");
                                        $("#ImageFiles_" + (rowNumber)).val('');
                                    }
                                }
                            </script>
                            <script>
                                validatorArray.push(
                                    function () {
                                        var rowCount = $("#rowCount").val();

                                        var localValidator = true;
                                        for (var i = 0; i < rowCount; i++) {
                                            var img = $("#ImageFiles_" + i).val();
                                            if (img == '') {
                                                localValidator = false;
                                                $('b[name=error_ImageFiles_' + i + ']').html("Image required");
                                            }
                                        }
                                        if (localValidator == false) {
                                            formValidity = false;
                                        }
                                    });
                            </script>
                        </div>
                    </div>

                    <div class="box-footer">
                        @*<a class="btn btn-default" href="/PoliceCase/Index">Back To List</a>*@
                        <input type="button" class="btn btn-facebook center-block" value="Save" onclick="TrySubmit()" />
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </form>

</section>
<!-- /.content -->
@*Select2*@
<script src="~/Theme/bower_components/select2/dist/js/select2.min.js"></script>
<script>
    $(function () {
        $('select').select2();
    });
</script>

@*DateTimePicker*@
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //format: 'yyyy-mm-dd HH:ii P',
        format: 'yyyy-mm-dd HH:ii P',
        //setDate: new Date(),
        //weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        //todayHighlight: 1,
        //startView: 2,
        //forceParse: 0,
        //showMeridian: 0
        //startDate: '+0d',
    });
</script>

<script>
    $('document').ready(function () {
        manageUI_IsAlertable_Element();
    });
    function manageUI_IsAlertable_Element() {
        $('div[data-category=yes_IsAlertable_Element]').hide();
        var IsAlertable = $('select[name=IsAlertable]').val();
        if (IsAlertable == "True") {
            $('div[data-category=yes_IsAlertable_Element]').show();
        }
    }
</script>
<script>
    $('document').ready(function () {
        $('input[data-category=amountCalculation]').on('keyup', function (e) {
            calculateTotalAmount();
        });
    });
    function calculateTotalAmount() {

        var totalAmount = 0;

        var PrimaryAmount = $("#PrimaryAmount").val();
        if (PrimaryAmount != "") {
            totalAmount = totalAmount + Number(PrimaryAmount);
        }

        var FineAmount = $("#FineAmount").val();
        if (FineAmount != "") {
            totalAmount = totalAmount + Number(FineAmount);
        }

        var AdditionalAmount = $("#AdditionalAmount").val();
        if (AdditionalAmount != "") {
            totalAmount = totalAmount + Number(AdditionalAmount);
        }

        var OtherAmount = $("#OtherAmount").val();
        if (OtherAmount != "") {
            totalAmount = totalAmount + Number(OtherAmount);
        }

        $("#TotalAmount").val(totalAmount);
    }
</script>
<script>
    function relodeFK_Upazila() {
        var FK_District = $('select[name=FK_District]').val();
        $.ajax({
            traditional: true,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            url: "/PoliceCase/GetUpazilasOfDistrict",
            data: JSON.stringify({ FK_District: FK_District }),
            success: function (data) {
                $('select[name=FK_Upazila]').html("");
                var result = "<option >Select</option>";
                for (var i = 0; i < data.length; i++) {
                    result = result + "<option value='" + data[i].PK_Upazila + "'>" + data[i].Name + "</option>";
                }
                $('select[name=FK_Upazila]').html(result);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Err on call: relodeFK_Upazila()");
            }
        });
    }
</script>