<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style>
        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
    <u>Home Page</u>
    <br />
    <br />
    <table style="width:100%">
        <tr>
            <td>
                <img src="ducu100.gif" height=100 width=100 />
            </td>
            <td colspan="4">
                <img src="iitban.gif" style="width: 100%" />
            </td>
            <td>
                <img src="iitlogo-blue.gif" height=100 width=100 />
            </td>
        </tr>
        <tr style="text-align:center;">
            <td><a href="Home.html">Home</a></td>
            <td><a href="LineBreaks.html">Line Breaks</a></td>
            <td><a href="Tags.html">Tags</a></td>
            <td><a href="Lists.html">Lists</a></td>
            <td><a href="Tables.html">Tables</a></td>
            <td><a href="Forms.html">Forms</a></td>
        </tr>
        <tr>
            <td colspan="6">
                <h1>
                    Registration Form
                </h1>
                <table>
                    <tr>
                        <td style="width:200px">Name</td>
                        <td style="width:300px"><input type="text" style="width:100%" /></td>
                    </tr>
                    <tr>
                        <td style="width:200px">Email</td>
                        <td style="width:300px"><input type="email" style="width:100%" /></td>
                    </tr>
                    <tr>
                        <td style="width:200px">Passeord</td>
                        <td style="width:300px"><input type="password" style="width:100%" /></td>
                    </tr>
                    <tr>
                        <td style="width:200px">Confirm Passeord</td>
                        <td style="width:300px"><input type="password" style="width:100%" /></td>
                    </tr>
                    <tr>
                        <td style="width:200px">Gender</td>
                        <td style="width:300px">
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label><br>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px">Language</td>
                        <td style="width:300px">
                            <input type="checkbox" id="bangla" name="bangla" value="Bike">
                            <label for="bangla">bangla</label><br>
                            <input type="checkbox" id="engilish" name="engilish" value="Car">
                            <label for="engilish">engilish</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px">Country</td>
                        <td style="width:300px">
                            <select name="country" id="country" style="width:100%">
                                <option value="">Drop Down List</option>
                                <option value="BD">Bangladesh</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px">Biography</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" style="width:100%"></textarea>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center;">
                Copyright © yourname, 2018
            </td>
        </tr>
    </table>

</body>
</html>
