<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style>
        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
    <u>Home Page</u>
    <br />
    <br />
    <table style="width:100%">
        <tr>
            <td>
                <img src="ducu100.gif" height=100 width=100 />
            </td>
            <td colspan="4">
                <img src="iitban.gif" style="width: 100%" />
            </td>
            <td>
                <img src="iitlogo-blue.gif" height=100 width=100 />
            </td>
        </tr>
        <tr style="text-align:center;">
            <td><a href="Home.html">Home</a></td>
            <td><a href="LineBreaks.html">Line Breaks</a></td>
            <td><a href="Tags.html">Tags</a></td>
            <td><a href="Lists.html">Lists</a></td>
            <td><a href="Tables.html">Tables</a></td>
            <td><a href="Forms.html">Forms</a></td>
        </tr>
        <tr>
            <td colspan="6">
                <h1>
                    A nested List:
                </h1>
                <ol>
                    <li>
                        Chapter One
                        <ol type="a">
                            <li>Section One</li>
                            <li>Section Two</li>
                            <li>Section Three</li>
                        </ol>
                    </li>
                    <li>
                        Chapter Two
                        <ol type="a">
                            <li>
                                Section One
                                <ol type="i">
                                    <li>Subsection One</li>
                                    <li>Subsection Two</li>
                                </ol>
                            </li>
                            <li>Section Two</li>
                        </ol>
                    </li>
                    <li>
                        Chapter Three
                        <ol type="a">
                            <li>Section One</li>
                            <li>Subsection One</li>
                        </ol>
                    </li>
                </ol>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center;">
                Copyright © yourname, 2018
            </td>
        </tr>
    </table>

</body>
</html>
