<html>
<head>
    <title>CV of Salauddin Ahmed Saimum</title>
    <style>
        .edu_table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .skill_table {
            border: 0px;
            border-collapse: collapse;
        }
        h3{
            color:navy;
        }
        a {
            text-decoration: none;
            font-style:italic;
        }
    </style>
</head>


<body style="margin-left:10%;margin-right:10%;">
    <div>
        <div style="background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(80,118,227,1) 0%, rgba(0,246,255,1) 74%); width: 100%; display:flow-root; padding:10px;">
            <div style="float:left;">
                <h2>
                    Salauddin Ahmed Siamum
                </h2>
                <address>
                    <img src="home1.png" style="height:15px;width:15px;" />Flat: 02, House: 02, Road: 02,
                    <br />
                    Sector: 02, Uattara, Dhaka
                </address>
                <img src="mial1.png" style="height:15px;width:15px;" />saimum02@gmail.com
                <br />
                <img src="home1.png" style="height:15px;width:15px;" />01236548124564
            </div>
            <div style="float:right;">
                <img src="saimum_new.jpg" alt="CV Image" style="height:200px; width:160px;">
            </div>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Career Objective
            </h3>
            <hr />
            <ul style="list-style-type:square">
                <li>Software Development</li>
                <li>Project Management</li>
                <li>System Analyst</li>
            </ul>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Present Status
            </h3>
            <hr />
            <p>
                I am working as a software develper in xyx-xompany. I use <b>SQl server, ASP.NET MVC, Entity framework, C#</b>.
            </p>
            <p>
                I use SQl s
                erver, ASP.NET MVC, Entity framework, C#. I love to lead and manage people.
            </p>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Education
            </h3>
            <hr />
            <table width="100%" class="edu_table">
                <tr>
                    <th width="10%" class="edu_table">Exam</th>
                    <th width="30%" class="edu_table">Board/University</th>
                    <th width="10%" class="edu_table">Year</th>
                    <th width="40%" class="edu_table">Name of Institution</th>
                    <th width="10%" class="edu_table">CGPA</th>
                </tr>
                <tr>
                    <td class="edu_table">B.Sc</td>
                    <td class="edu_table">Dhaka Board</td>
                    <td class="edu_table">2015</td>
                    <td class="edu_table">International University of Business and Technology</td>
                    <td class="edu_table">3.5/4.0</td>
                </tr>
                <tr>
                    <td class="edu_table">HSC</td>
                    <td class="edu_table">Dhaka Board</td>
                    <td class="edu_table">2011</td>
                    <td class="edu_table">Dhaka CIty College</td>
                    <td class="edu_table">3.5/4.0</td>
                </tr>
                <tr>
                    <td class="edu_table">B.Sc</td>
                    <td class="edu_table">Dhaka Board</td>
                    <td class="edu_table">2009</td>
                    <td class="edu_table">Uttara High School</td>
                    <td class="edu_table">3.5/4.0</td>
                </tr>
            </table>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Computer Skills
            </h3>
            <hr />
            <table width="100%" class="skill_table">
                <tr>
                    <td width="20%" class="skill_table">Programming Languages</td>
                    <td width="10%" class="skill_table">:</td>
                    <td width="70%" class="skill_table">70%</td>
                </tr>
                <tr>
                    <td width="20%" class="skill_table">Web based skills</td>
                    <td width="10%" class="skill_table">:</td>
                    <td width="70%" class="skill_table">70%</td>
                </tr>
                <tr>
                    <td width="20%" class="skill_table">Orhers</td>
                    <td width="10%" class="skill_table">:</td>
                    <td width="70%" class="skill_table">60%</td>
                </tr>
            </table>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Professional Experience
            </h3>
            <hr />
            <p>
                I am working as a software develper in xyx-xompany for last 3 years.
            </p>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Projects
            </h3>
            <hr />
            <ol style="list-style-type:circle">
                <li><b>Professional Project A</b></li>
                <ol style="list-style-type:disc">
                    <li>feature A.1</li>
                    <li>feature A.2</li>
                    <li>feature A.3</li>
                    <li><a href="#">link</a></li>
                </ol>
                <li><b>Professional Project B</b></li>
                <ol style="list-style-type:disc">
                    <li>feature B.1</li>
                    <li>feature B.2</li>
                    <li>feature B.3</li>
                    <li><a href="#">link</a></li>
                </ol>
            </ol>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Academic Projects
            </h3>
            <hr />
            <ol style="list-style-type:circle">
                <li><b>Academic Project A</b></li>
                <ol style="list-style-type:disc">
                    <li>feature A.1</li>
                    <li>feature A.2</li>
                    <li>feature A.3</li>
                </ol>
                <li><b>Academic B</b></li>
                <ol style="list-style-type:disc">
                    <li>feature B.1</li>
                    <li>feature B.2</li>
                    <li>feature B.3</li>
                </ol>
            </ol>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Achievements
            </h3>
            <hr />
            <ul style="list-style-type:square">
                <li>Hackathon 2015</li>
                <li>Microsoft Imagine Cup 2016</li>
            </ul>
        </div>
        <br />


        <div style="width: 100%;clear: both">
            <h3>
                Language
            </h3>
            <hr />
            <ol style="list-style-type:circle">
                <li><b>Bengoli</b></li>
                <ol style="list-style-type:disc">
                    <li>Reading: Good</li>
                    <li>Listening: Good</li>
                    <li>Speaking: Good</li>
                    <li>Writting: Good</li>
                </ol>
                <li><b>English</b></li>
                <ol style="list-style-type:disc">
                    <li>Reading: Good</li>
                    <li>Listening: Good</li>
                    <li>Speaking: Good</li>
                    <li>Writting: Good</li>
                </ol>
            </ol>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Personal Information
            </h3>
            <hr />
            <table width="100%" class="skill_table">
                <tr>
                    <td width="20%" class="skill_table"></td>
                    <td width="10%" class="skill_table">Full Name</td>
                    <td width="10%" class="skill_table">:</td>
                    <td width="50%" class="skill_table">Salauddin Ahmed Saimum</td>
                </tr>
                <tr>
                    <td class="skill_table"></td>
                    <td class="skill_table">Father’s Name</td>
                    <td class="skill_table">:</td>
                    <td class="skill_table">A. K. M Sanuallah</td>
                </tr>
                <tr>
                    <td class="skill_table"></td>
                    <td class="skill_table">Mother’s Name</td>
                    <td class="skill_table">:</td>
                    <td class="skill_table">Mariam</td>
                </tr>
            </table>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Hobbies
            </h3>
            <hr />
            <ol style="list-style-type:circle">
                <li>Travelling</li>
                <li>Singing</li>
            </ol>
        </div>
        <br />

        <div style="width: 100%;clear: both">
            <h3>
                Games
            </h3>
            <hr />
            <ol style="list-style-type:circle">
                <li>Football</li>
                <li>Cricket</li>
            </ol>
        </div>
        <br />


        <div style="width: 100%;clear: both">
            <h3>
                References
            </h3>
            <hr />
            <b>Mr:Xyz</b><br />
            <label>Address:</label> House: 23, Road: 23, Sec:23, Uttara, Dhaka.<br />
            <label>Email:</label> xyz45@kjl.com<br />
            <label>Tel:</label> +880-0172-2736<br />
            <br />
            <b>Mr:Abc</b><br />
            <label>Address:</label> House: 23, Road: 23, Sec:23, Uttara, Dhaka.<br />
            <label>Email:</label> xyz45@kjl.com<br />
            <label>Tel:</label> +880-0172-2736<br />

        </div>
        <br />

        <div style="width: 100%;text-align:center">
            Copyright © yourname, 2018
        </div>
    </div>
</body>

</html> 